@model Conceptual.ViewModels.ArticleDetailViewModel

@{
    ViewBag.Title = "Detail";
}

<div class="body-container bg-navy">
    <div class="container">
        <div class="row">
            <div class="article bg-white">
                <div class="article-header center-container">
                    <div class="article-info-box center-object">
                        <div class="center-container">
                            <div class="cover-round center-object">
                                <img src="@Model.CoverImgUrl" />
                            </div>
                        </div>
                        <div class="article-title">
                            <h2>@Model.Title</h2>
                        </div>
                        <div class="article-short-description">
                            <p>@Model.ShortDescription</p>
                        </div>
                        <div class="article-time">
                            <time>@Model.PostTime.ToShortDateString()</time>
                        </div>
                    </div>

                </div>
                <div class="article-body">
                    <p>
                       @Html.Raw(Model.Content)
                    </p>
                </div>
                <div class="article-footer">
                    <div class="center-container">
                        <a href="@Url.Action("Index","Article")">
                            <div class="mbtn-trans center-object">
                                <img src="~/Content/img/page/layout/btn-back-hover_2x.png" />
                                <img src="~/Content/img/page/layout/btn-back_2x.png" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>

