<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="head-area">
        <div class="board">
            <div class="navbar navbar-glass">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="brand-sign">
                        <img onload="this.width/=2;this.onload=null;" src="~/Content/img/page/layout/heart_2x.png" />
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Article", "Index", "Article")</li>
                        <li>@Html.ActionLink("Collection", "About", "Home")</li>
                        <li>@Html.ActionLink("Resource", "Contact", "Home")</li>
                        <li>@Html.ActionLink("About", "Contact", "Home")</li>
                    </ul>
                </div>
        </div>
        </div>
        <div class="split-line"></div>
    </div>
    <div class="body-area">
        @RenderBody()

    </div>
    <footer class="footer-area center-container">
        <div class="split-line"></div>
        <div class="footer-info">
            <a href="">
                <div class="mbtn-trans">
                    <img onload="this.width/=2;this.onload=null;" src="~/Content/img/page/layout/btn-more-hover_2x.png" />
                    <img onload="this.width/=2;this.onload=null;" src="~/Content/img/page/layout/btn-more_2x.png" />
                </div>
            </a>
            <div class="constructor center-object">
                <p class="prime">Constructed by <span>Neko3000</span></p>
                <p class="sub-prime">And this has been blessed by <span>Inari Ōkami</span></p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
